[Unit]
Description=OpenTelemetry LXC Metrics Exporter (Python)
After=network.target

[Service]
ExecStartPre=/opt/otelcol-contrib/lxc-metrics-script.sh
ExecStart=/usr/bin/python3 /opt/otelcol-contrib/lxc-exporter-app.py
Restart=on-failure
RestartSec=5s
User=otelcol
Group=otelcol
WorkingDirectory=/opt/otelcol-contrib
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
