[Unit]
Description=OpenTelemetry LXC Metrics Exporter (Python)
After=network.target

[Service]
ExecStart=/usr/bin/python3 {{ lxc_exporter_app_path }}
Restart=on-failure
RestartSec=5s
User={{ otel_user }}
Group={{ otel_group }}
WorkingDirectory={{ otel_home }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
