[Unit]
Description=Proxmox VE Metrics Exporter
After=network.target

[Service]
Type=simple
User={{ otel_user | default('otelcol') }}
Group={{ otel_group | default('otelcol') }}
WorkingDirectory=/opt/pve-metrics
ExecStart=/opt/pve-metrics/venv/bin/python3 /opt/pve-metrics/metrics-exporter.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
